*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
}

#msg{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}

.foto{
    text-align: center;
}

footer{
    margin-top: 15px;
    color: #fff;
    text-align: center;
}